<div ng-controller="coreImporterCSVCtrl">
	<fieldset>
		<legend>Configuration</legend>
    <div class="form-group row">
      <label class="col-md-2 control-label">Collection</label>
      <div class="col-md-8">
        <input ng-model="importer.processorOptions.collection" type="text" class="form-control input-md" />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-2 control-label">ContentType</label>  
      <div class="col-md-8">
        <input ng-model="importer.processorOptions.contenttype" type="text" class="form-control input-md" />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-2 control-label">Separator</label>  
      <div class="col-md-8">
        <input ng-model="importer.processorOptions.separator" type="text" class="form-control input-md" />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-2 control-label">Primary Key</label>  
      <div class="col-md-8">
        <input ng-model="importer.processorOptions.primaryKey" type="text" class="form-control input-md" />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-2 control-label">URL</label>  
      <div class="col-md-8">
        <input ng-model="importer.processorOptions.url" type="text" class="form-control input-md" />
      </div>
    </div>
	</fieldset>
	<fieldset>
		<legend>Fields</legend>
		<table class="table table-striped">
			<tr>
				<th>Name</th>
				<th>NotNull</th>
				<th>ParseInt</th>
			</tr>
			<tr ng-repeat="field in importer.processorOptions.fields">
				<td>{{field.name}}</td>
				<td><input type="checkbox" ng-model="field.notNull" /></td>
				<td><input type="checkbox" ng-model="field.parseInt" /></td>
			</tr>	
		</table>
		<button class="btn btn-success" ng-click="retrieveHead()">Retrieve header</button>
	</fieldset>
</div>