<h1 class="page-header">Importer - {{importer.name}} <small><i class="icon-double-angle-right"></i> setup</small></h1>
<div class="form-group row">
  <label class="col-md-2 control-label">Name</label>  
  <div class="col-md-8">
    <input ng-model="importer.name" type="text" class="form-control input-md" />
    <span class="help-block">A unique name for the importer</span>
  </div>
</div>
<div class="form-group row">
  <label class="col-md-2 control-label">Name</label>  
  <div class="col-md-8">
    <select ng-options="processor.processorIdentifier as processor.processorName for processor in processors" ng-model="importer.processor" class="form-control">
      <option value=""></option>
    </select>
    <span class="help-block">A unique name for the importer</span>
  </div>
</div>

<div ng-if="processor.template !== null" ng-include="processor.template" />
<div ng-if="processor.template === null"cn-schema-generator cn-schema="processor.processorConfig" cn-data="importer.processorOptions" cn-options="processor.processorOptions" />

<fieldset>
  <legend>Actions</legend>
  <button class="btn btn-success" ng-click="save()">Save</button>
  <button class="btn btn-warning" ng-click="back()">Back</button>
</fieldset>